
/**
 * Fix user-agent
 */

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overscroll-behavior: contain;
  touch-action: none;
}

/**
 * Canvas
 */

.whiteboard {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  pointer-events: none;
}

  .whiteboard[data-drawer="true"]{
    pointer-events: auto;
  }

.colors {
  position: fixed;
}

.color {
  display: inline-block;
  height: 48px;
  width: 48px;
}

.color.black { background-color: black; }
.color.red { background-color: red; }
.color.green { background-color: green; }
.color.blue { background-color: blue; }
.color.yellow { background-color: yellow; }



/**
 * USER
 */
.user-info {
  position: absolute;
  bottom: 0;
  z-index:1;
  font-size: 14px;
  font-weight: bold;
}
